<a href="https://colab.research.google.com/github/jkasbar/prueba/blob/main/Ejercicio_pr_ctico_1_os.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Crea 2 variables, `a` y `b`, y asignales los valores 5 y 7 respectivamente

In [21]:
a = 5
b = 7

2. Guarda la suma de `a` y `b` en la variable `c`

In [22]:
c = a + b
print(c)

12

3. Actualiza el valor de variable `c` sumandole 2 a sí misma

In [23]:
c=c+2
print(c)

14

4. Imprime en pantalla el valor de c

5. Imprime en pantalla la siguiente frase:

"El valor de c es _"

Adaptarlo para que muestre el valor de la variable.

In [24]:
print(f"El valor de c es {c}")

El valor de c es 14

7. Como podemos saber cuál es el tipo de datos de c?

In [25]:
print(type(c))

<class 'int'>

8. Multiplica `c` por 1.0. Gurada el resultado en `d`

In [26]:
d = c * 1.0
print(d)

14.0

9. Qué clase o tipo de dato almacena la variable `d`?

In [27]:
print(type(d))

<class 'float'>

10. A la luz del tipo de datos vistos en `c` y `d`, podemos decir que ambas variables son iguales? Escribe una expresión booleana que los iguale

In [28]:
print (d==c)

True

11. Guarda en una lista las variables `a`, `b`, `c` y `d`. Llama a la variable que la almacena *lista*

In [29]:
lista = [a,b,c,d]
print(lista)

[5, 7, 14, 14.0]

12. Guarda en una tupla las variables `a`, `b`, `c` y `d`. Llama a la variable que la almacena *tupla*

In [30]:
tupla = (a,b,c,d)
print(tupla)

(5, 7, 14, 14.0)

13. Guarda en un diccionario las variables `a`, `b`, `c` y `d`. Las claves o *keys* serán 'a', 'b', 'c' y 'd' y los valores las propias variables.  Llama a la variable que lo almacena *diccionario*

In [31]:
diccionario = {'a':a,'b':b,'c':c,'d':d}
print(diccionario)

{'a': 5, 'b': 7, 'c': 14, 'd': 14.0}

14. Muestra el primer elemento de *lista*

In [32]:
print (lista[0])

5

15. Muestra el último elemento de *tupla*

In [33]:
print(tupla[-1])

14.0

16. Convierte *tupla* en una lista. Guarda el resultado en *lista_2*

In [34]:
lista_2 = list(tupla)
print(lista_2)

[5, 7, 14, 14.0]

17. Añade un nuevo elemento a *lista_2*, el número 8 por ejemplo

In [35]:
lista_2.append(8)
print(lista_2)

[5, 7, 14, 14.0, 8]

18. Muestra la longitud o número de elementos de *lista_2*

In [36]:
lista_2 = list(tupla)
print(len(lista_2))

4

19. Muestra las claves o *keys* de *diccionario*

In [37]:
print(diccionario.keys())

dict_keys(['a', 'b', 'c', 'd'])

20. Muestra los valores o `values` de *diccionario*

In [38]:
print(diccionario.values())

dict_values([5, 7, 14, 14.0])